* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
  box-sizing: border-box;
}

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color:black;
	text-decoration:none;
}

/*logo and navbar*/
#logo{
	margin: 20px auto 20px auto;
	display: block;
}

#navi-container{
	padding-left: 0px;
	padding-right: 0px;
}

#navigation-bar{
	padding-top: 15px;
	padding-bottom: 0px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	margin: 0px;
}

.navigation-button{
	display: inline-block;
	margin: 0px 10px 0px 10px;
	font-weight: bold;
	padding: 0px;
}



/*footer*/
.social-logo{
	height: 20px;
}

#copyright{
	font-size:12px;
	padding-top: 5px;
}

/*index.html css*/

.jumbotron{
	height: 40vh;
}

.jumbotron-banner{
	background-image: url("../images/indexjumbobanner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px !important;
}

#fsdeveloper{
	font-size: 250%;
	font-family: 'play', sans-serif;
	text-shadow: -2px -2px white;
}

#slogan{
	font-style: italic;
	font-size: 100%;
	font-family: 'play', sans-serif;
	text-shadow: -2px -2px white;
}

/*tech stack*/

#tech-heading{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 40px 0px 40px;
}

#par-tech-head{
	font-family: 'play', sans-serif;
	font-size: 25px;
}

#tech-stack-container{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 40px 40px 40px;
}

.tech-stack{
	height: 75px;
	margin-top: 0px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	background-color: black;
}

.tech-words{
	background-color: black;
	display: inline;
	font-family: 'play', sans-serif;
}

#html{
	background-image: url("../images/html.png");
}

#css{
	background-image: url("../images/css.png");
}

#js{
	background-image: url("../images/js.png");
}

#gitlab{
	background-image: url("../images/gitlab.png");
}

#google{
	background-image: url("../images/google.jpg");
}

#python{
	background-image: url("../images/python.jpg");
}

#footer-container{
	padding: 15px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 5px;
}

/*portfolio css*/

#portfolio-container{
	padding-top: 20px;
}

.card-title{
	font-family: 'Inconsolata', sans-serif;
}


/*contact css*/

#form-head{
	background-color: black;
	margin: 0px;
	border: none;
	text-align: center;
}

#form-head-text{
	display: inline;
	font-family: 'play', sans-serif;
	color: white;
}

.form-body{
	background-color: white;
	text-align: center;
}

.form-elements{
	margin-top: 5px;
	margin-bottom: 5pm;
}

#map-head{
	background-color: black;
	margin: 0px;
	border: none;
	text-align: center;
	padding: 0px;
}

#map-head-text{
	display: inline;
	font-family: 'play', sans-serif;
	color: white;
}

#map-container{
	padding: 0px;
	margin-top: 20px;
}